body, html {
  cursor: url(/../icon/favicon-16x16.png), pointer;
  font-family: Comic Sans MS;
  background-image: repeating-linear-gradient(red, lime 20%);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cyan;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}
p {
  text-align: center;
  color: hotpink;
}

h1 {
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 50px;
  color: blueviolet
}

h2 {
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 30px;
  color: mediumblue
}
.hcb-shadow-m {
  background-color: blue;
}
textarea, input {
  font-family: Comic Sans MS;
  background-color: yellow
}

.points {
  text-align: right
}